
<div class="row mt-4 justify-content-center">

    <div class="col-auto">
        <h3>Listas</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>

    <div class="col-md-6 offset-md-1">

      <app-add-tareas></app-add-tareas>

      <h4>Tareas</h4>

      <ul class="list-group">
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
          Cras justo odio
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
          Dapibus ac facilisis in
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
          Morbi leo risus
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
          Porta ac consectetur ac
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
          Vestibulum at eros
        </li>
      </ul>
    </div>
</div>
